
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>

  <!-- <link href="stylesheets/footer.css" rel="stylesheet">

<footer class="footer">
  <a name="aviso" />
  <div class="container footer__grid">
      <nav class="nav">
          <a class="nav_items nav_items--footer" href="#preescolar">Didacticas Preescolar</a>
          <a class="nav_items nav_items--footer" href="#primaria">Didacticas Primaria</a>
          <a class="nav_items nav_items--footer" href="#nosotros">Nosotros</a>
          <a class="nav_items nav_items--footer"
              href="Modulos/Modulos_Normateca/Aviso_privacidad.pdf" target="_blank">Aviso de
              Privacidad</a>

      </nav>

      <section class="footer_contact">
          <h3 class="footer__title">Seguridad del Sitio</h3>
          <div class="footer__icons">
              <span class="footer__container-icons">
                  <a href="Modulos/Modulos_Normateca/Aviso_privacidad.pdf" target="_blank">Aviso de
                      Privacidad</a>
              </span>

              <span class="footer__container-icons">
                  <a href="Modulos/Modulos_Normateca/Terminos_Condiciones.pdf"
                      target="_blank">Terminos y Condiciones</a>
              </span>

              <span class="footer__container-icons">
                  <a href="Modulos/Modulos_Normateca/Terminos_Condiciones.pdf"
                      target="_blank">Mapa del Sitio</a>
              </span>
          </div>
      </section>
  </div>
</footer> -->