<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/css/style-login.css" rel="stylesheet" type="text/css">
  </head>
  <%- include('partials/style'); %>
  <body>
    <section class="wrapper">


      <div class="form login">
        <header>Iniciar sesion</header>
        <form action="#">
          <input type="text" placeholder="Correo electronico" required />
          <input type="password" placeholder="Contraceña" required />
          <a href="/recuperarC">Olvidaste tu contraceña?</a>
          <input type="submit" value="Iniciar sesion" />
        </form>
      </div>
      
      <div class="form signup">
        <header>Registrarse </header>
        <form action="#">
          <input type="text" placeholder="Nombre completo" required />
          <input type="text" placeholder="Correo electronico" required />
          <input type="password" placeholder="Contraceña" required />
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" />
            <label for="signupCheck">Acepto terminos y condiciones</label>
          </div>
          <input type="submit" value="Registrarse" />
        </form>
      </div>

      <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");

        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script>
    </section>
  </body>
</html>

